/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/******************************************************** 
　メイン
********************************************************/

.fv-container {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #08192d, #08192d);
  font-family: "游明朝";
  color: #fff;
}

.title{
  text-align: center;
  font-size: 33px;
  padding: 0.5rem;
}

.item-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list{
  margin: 1rem;
  padding: 1rem;
  background-color: #5f6368;
  border-radius: 30px;
}

.item-img{
  width: 100%;
  height: 400px;
}

.item-name{
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}

.item-price{
  font-weight: bold;
  font-size: 33px;
  text-align: center;
}

.reservation-box{
  text-align: center;
  background: #FFC408;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 30px;
  padding: 0.5rem 1.2rem;
}

.item-reservation{
  text-align: center;
}